<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    DEPRECIATED since 11.1.2, will be removed in 12.0.0
</f:comment>
<div class="accordion {f:if(condition:'{data.flexform_style}', then:'{data.flexform_style}')}"
     id="accordion-{data.uid}">
    <f:for each="{data.tx_gridelements_view_children}" as="content" iteration="iterator">
        <div class="accordion-item card">
            <div id="accordion-heading-{content.uid}" class="accordion-header card-header">
                <h4 class="accordion-title">
                    <a class="accordion-title-link {f:if(condition:'{iterator.index}!=0', then:'collapsed')}"
                       href="#accordion-{content.uid}"
                       data-toggle="collapse" data-parent="#accordion-{data.uid}"
                       aria-expand="{f:if(condition:'{iterator.index}==0', then:'true', else:'false')}"
                       aria-controls="accordion-{content.uid}">
                        <span class="accordion-title-link-text">{content.header}</span>
                        <span class="accordion-title-link-state"></span>
                    </a>
                </h4>
            </div>
            <div id="accordion-{content.uid}"
                 class="accordion-collapse collapse {f:if(condition:'{iterator.index}==0', then:'show')}"
                 aria-labelledby="accordion-heading-{content.uid}"
                 data-parent="#accordion-{data.uid}">
                <div class="accordion-body card-body">
                    {data.tx_gridelements_view_child_{content.uid} -> f:format.htmlentitiesDecode(keepQuotes: 1)}
                </div>
            </div>
        </div>
    </f:for>
</div>
</html>
