<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers" data-namespace-typo3-fluid="true">

{f:variable(name: 'addresses', value: {0: address}) -> v:condition.variable.isset(name: 'address')}

{f:variable(name: 'mapConfig', value: settings.pizpalue.googleMap)}

{pp:filterArray(source: addresses, keylist: mapConfig.fields)
    -> f:format.json(forceObject: 'true')
    -> f:variable(name: 'jsonData')}

{v:iterator.explode(content: mapConfig.pages, glue: ',') -> f:variable(name: 'pages')}
{v:iterator.indexOf(needle: contentObjectData.pid, haystack: pages,) -> f:variable(name: 'pageEnabled')}

<f:if condition="{pageEnabled} > -1">
    <f:then>
        <f:render section="googleMap" arguments="{_all}" />
    </f:then>
    <f:else>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Configuration missing</h4>
            <p>It looks like this page is not configured to embed the google map for addresses.</p>
            <p>
                The constant <code>pizpalue.plugin.tx_ttaddress.googleMap.pages</code> should contain the uid from
                this page.
            </p>
        </div>
    </f:else>
</f:if>

<f:section name="googleMap">
    <div id="pp-ttaddress-map{contentObjectData.uid}" class="pp-ttaddress-map">
        <script type="text/javascript">
            (function () {
                var jsonData = <f:format.raw>{jsonData}</f:format.raw>;
                window.addEventListener('buepro.ttaddress.googlemap', function () {
                    $('#pp-ttaddress-map' + <f:format.raw>{contentObjectData.uid}</f:format.raw>).ppAddressGoogleMap({
                        'addresses': jsonData,
                        'lat': <f:format.raw>{mapConfig.lat}</f:format.raw>,
                        'lng': <f:format.raw>{mapConfig.lng}</f:format.raw>,
                        'zoom': <f:format.raw>{mapConfig.zoom}</f:format.raw>
                    });
                });
            }) ();
        </script>
    </div>
    <div class="pp-ttaddress-maptemplate" data-pp-amt-markertitle="company">
        <div class="pp-amt-wrap" data-pp-amt-uid="uid">
            <div class="pp-amt-imagewrap">
                <img class="pp-amt-image" src="" data-pp-amt="image" />
            </div>
            <div class="pp-amt-text">
                <h6><span data-pp-amt="company"></span></h6>
                <p data-pp-amt="description"></p>
                <p>
                    <b data-pp-amt="name"></b><br />
                    <span data-pp-amt="address"></span><br />
                    <span data-pp-amt="zip"></span>&nbsp;<span data-pp-amt="city"></span>
                </p>
                <p>
                    Tel: <span data-pp-amt="phone"></span>&nbsp;|&nbsp;
                    <a href="#" data-pp-amt="email">Email</a>&nbsp;|&nbsp;
                    <a href="#" target="_blank" data-pp-amt="www">Web</a>
                </p>
                <p><a href="#" target="_blank" data-pp-amt="uri">{f:translate(key: 'more')}</a></p>
            </div>
        </div>
    </div>
    <f:spaceless>
        <div class="pp-ttaddress-mapdata">
            <f:for each="{addresses}" as="address">
                {f:uri.action(action: 'show', arguments: {address: address}, pageUid: settings.singlePid)
                    -> f:variable(name: 'addressUri')
                    -> f:if(condition: settings.singlePid)}
                <f:if condition="{address.image}">
                    {f:uri.image(image: address.firstImage, width: 150) -> f:variable(name:'imageUri')}
                </f:if>
                <i data-pp-amd-uid="{address.uid}"
                   data-pp-amd-imageuri="{imageUri}"
                   data-pp-amd-uri="{addressUri}"></i>
            </f:for>
        </div>
    </f:spaceless>

</f:section>

</html>