<div class="ppc-header t3-page-ce-header t3js-page-ce-header" {f:if(condition: '{allowEditContent} && {item.dragAndDropAllowed}', then: 'draggable="true"')}>
    <div class="t3-page-ce-header-left">
        {item.icons -> f:format.raw()}
        <f:if condition="{item.siteLanguage.flagIdentifier}">
            <span class="t3-page-ce-header-icon-flag t3js-flag" title="{item.siteLanguage.title}">
                <core:icon identifier="{item.siteLanguage.flagIdentifier}" />
            </span>
        </f:if>
        {f:variable(name: '_frameIdentifier', value: 'pizpalue-no-frame')}
        {f:variable(name: '_frameIdentifier', value: 'pizpalue-frame') -> f:if(condition: '{item.record.frame_class} !== "none"')}
        <span class="pp-frame-indicator mx-1" title="{f:translate(key: 'LLL:EXT:pizpalue/Resources/Private/Language/Backend.xlf:page_layout.frame.{_frameIdentifier}')}">{core:icon(identifier: _frameIdentifier)}</span>
    </div>
    {f:render(partial: 'PageLayout/RecordDefault/Preview', arguments: _all)
        -> pvh:format.replace(substring: '<br/>', replacement: ' - ')
        -> pvh:format.replace(substring: '<br />', replacement: ' - ')
        -> pvh:format.replace(substring: '<br>', replacement: ' - ')
        -> f:format.stripTags()
        -> pvh:format.trim()
        -> f:format.crop(maxCharacters: 80)
        -> f:variable(name: '_title')}
    <div id="pp-header-title-{item.record.uid}" class="pp-header-title t3-page-ce-header-title">
        <span class="ppc-expanded">{item.contentTypeLabel}</span><span class="ppc-collapsed d-none">{_title -> f:format.raw()}</span>
    </div>
    <div class="t3-page-ce-header-right">
        <f:if condition="{item.editable} && {allowEditContent}">
            <div class="btn-toolbar">
                <div class="btn-group btn-group-sm">
                    <a href="{item.editUrl}" class="btn btn-sm btn-default btn-borderless" title="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:edit')}">
                        <core:icon identifier="actions-open" />
                    </a>
                    <f:if condition="{item.visibilityToggling}">
                        <a class="btn btn-sm btn-default btn-borderless" href="{item.visibilityToggleUrl}" title="{item.visibilityToggleTitle}">
                            <core:icon identifier="actions-edit-{item.visibilityToggleIconName}" />
                        </a>
                    </f:if>
                    <f:if condition="{item.delible}">
                        <a class="btn btn-default btn-borderless t3js-modal-trigger"
                            href="{item.deleteUrl}"
                            data-severity="warning"
                            data-title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_alt_doc.xlf:label.confirm.delete_record.title')}"
                            data-bs-content="{item.deleteMessage}"
                            data-button-close-text="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_common.xlf:cancel')}"
                            data-button-ok-text="{f:translate(key:'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:delete')}"
                            title="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:deleteItem')}">
                            <core:icon identifier="actions-edit-delete" size="small" />
                        </a>
                    </f:if>
                    <button type="button"
                            aria-haspopup="true"
                            aria-controls="contentMenu0"
                            aria-label="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.contextMenu.open')}"
                            class="btn btn-sm btn-default btn-borderless"
                            data-contextmenu-trigger="click"
                            data-contextmenu-table="{item.table}"
                            data-contextmenu-uid="{item.record.uid}">
                        <core:icon identifier="actions-menu-alternative" />
                    </button>
                    <a id="pp-toggler-{item.record.uid}" class="pp-toggler btn btn-default btn-borderless btn-sm" data-bs-toggle="collapse" href="#pp-collapse-{item.record.uid}" role="button" aria-expanded="true" aria-controls="pp-collapse-{item.record.uid}">{core:icon(identifier: 'actions-chevron-bar-up')}</a>
                </div>
            </div>
        </f:if>
    </div>
</div>
