<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />
<f:section name="Main">
    {f:variable(name: 'cvConfig', value: data.pi_flexform)}
    {f:variable(name: 'cvSettings', value: settings.containerElements.imageVariants)}
    {f:variable(name: 'cvGutter', value: cvSettings.gutter.variants) -> f:if(condition: '{cvSettings.gutter.enable as integer} == 1')}
    {f:variable(name: 'cvCorrection', value: cvSettings.correction.variants) -> f:if(condition: '{cvSettings.correction.enable as integer} == 1')}
    <f:if condition="{children_101}">
        <div class="{cvConfig.rowClasses}">
            <f:for each="{children_101}" as="cvRecord">
                <f:if condition="{cvRecord.ce_grid_classes} == '!external'">
                    <f:then>
                        <pp:structure.wrap.column class="{cvRecord.ce_grid_classes}" rowClass="{cvConfig.rowClasses}" gutter="{cvGutter}" correction="{cvCorrection}">
                            {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
                        </pp:structure.wrap.column>
                    </f:then>
                    <f:else>
                        <pp:render.bootstrap.column class="{cvRecord.ce_grid_classes}" rowClass="{cvConfig.rowClasses}" gutter="{cvGutter}" correction="{cvCorrection}">
                            {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
                        </pp:render.bootstrap.column>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>
</html>
