<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    {f:variable(name: 'cvConfig', value: data.pi_flexform)}
    <f:if condition="{children_101}">
        <div id="ce-slider-{data.uid}" class="ce-slider swiper"
             data-ce-uid="{data.uid}"
             data-ce-show-pagination="{cvConfig.showPagination}"
             data-ce-show-navigation="{cvConfig.showNavigation}"
             data-ce-config="{cvConfig.config}"
        >
            <f:render section="SliderSlides" arguments="{cvConfig: cvConfig, _children: children_101}" />
            <f:if condition="{cvConfig.decoupleControls as integer} != 1">
                <f:render section="SliderControls" arguments="{cvConfig: cvConfig, _uid: data.uid}" />
            </f:if>
        </div>
        <f:if condition="{cvConfig.decoupleControls as integer} == 1">
            <f:render section="SliderControls" arguments="{cvConfig: cvConfig, _uid: data.uid}" />
        </f:if>
        <f:asset.script identifier="tx-container-elements-slider-lib" src="EXT:container_elements/Resources/Public/JavaScript/Dist/nolimits4web.swiper.min.js" />
        <f:asset.script identifier="tx-container-elements-slider" src="EXT:container_elements/Resources/Public/JavaScript/Src/slider.js" />
        <f:asset.css identifier="tx-container-elements-slider" href="EXT:container_elements/Resources/Public/Css/nolimits4web.swiper.min.css" />
    </f:if>
</f:section>

<f:section name="SliderSlides">
    <f:if condition="{cvConfig.slidesWrapperClasses} == '!external'">
        <f:then>
            <f:for each="{_children}" as="cvRecord">
                <f:render section="SliderSlide" arguments="{cvRecord: cvRecord}" />
            </f:for>
        </f:then>
        <f:else>
            <div class="{cvConfig.slidesWrapperClasses}">
                <f:for each="{_children}" as="cvRecord">
                    <f:render section="SliderSlide" arguments="{cvRecord: cvRecord}" />
                </f:for>
            </div>
        </f:else>
    </f:if>
</f:section>

<f:section name="SliderSlide">
    <f:if condition="{cvRecord.ce_slide_classes} == '!external'">
        <f:then>
            <pp:structure.wrap.column class="{cvRecord.ce_slide_classes}" rowClass="{cvConfig.slidesWrapperClasses}">
                {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
            </pp:structure.wrap.column>
        </f:then>
        <f:else>
            <pp:render.bootstrap.column class="{cvRecord.ce_slide_classes}" rowClass="{cvConfig.slidesWrapperClasses}">
                {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: cvRecord)}
            </pp:render.bootstrap.column>
        </f:else>
    </f:if>
</f:section>

<f:section name="SliderControls">
    <f:if condition="{cvConfig.showPagination}">
        <div id="ce-slider-pagination-{_uid}" class="swiper-pagination"></div>
    </f:if>
    <f:if condition="{cvConfig.showNavigation}">
        <div id="ce-slider-prev-{_uid}" class="swiper-button-prev"></div>
        <div id="ce-slider-next-{_uid}" class="swiper-button-next"></div>
    </f:if>
</f:section>
</html>
