RewriteEngine on

# Access block for files
# Apache < 2.3 (not tested)
<IfModule !mod_authz_core.c>
	<FilesMatch "(?i:^\.|^#.*#|^*(?:\.md|\.txt))$">
		Order allow,deny
		Allow from all
		Satisfy All
	</FilesMatch>
</IfModule>

# Apache ≥ 2.3
<IfModule mod_authz_core.c>
	<If "%{REQUEST_URI} =~ m#(?i:/\.|/\x23.*\x23|/*(?:\.md|\.txt))$#">
		Require all granted
	</If>
</IfModule>
