<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers">
<pvh:format.trim>
    {f:translate(extensionName: 'news', key:'dateFormat') -> f:variable(name: 'cvDateFormat')}
    {f:format.date(date: n.datetime, format: '{cvDateFormat} ') -> f:variable(name: 'cvStartDay')}
    {f:format.date(date: n.eventEnd, format: '{cvDateFormat} ') -> f:variable(name: 'cvEndDayy')}
    {f:variable(name: 'cvEndDay', value: ' - {cvEndDayy}')}
    <f:if condition="{n.fullDay}">
        <f:then>
            <f:if condition="{n.eventEnd}">
                <f:then>
                    {cvStartDay}{cvEndDay -> f:if(condition: '{cvStartDay} != {cvEndDayy}')}
                </f:then>
                <f:else>
                    {cvStartDay}
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{n.eventEnd}">
                <f:then>
                    {cvStartDay}{f:format.date(date: n.datetime, format: 'H:i')} - {cvEndDayy -> f:if(condition: '{cvStartDay} != {cvEndDayy}')}{f:format.date(date: n.eventEnd, format: 'H:i')}
                </f:then>
                <f:else>
                    {cvStartDay}{f:format.date(date: n.datetime, format: 'H:i')}
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</pvh:format.trim>
</html>
