<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<v:format.trim>
    {f:translate(extensionName: 'news', key:'dateFormat') -> f:variable(name: '_dateFormat')}
    {f:format.date(date: n.datetime, format: '{_dateFormat} ') -> f:variable(name: '_startDay')}
    {f:format.date(date: n.eventEnd, format: '{_dateFormat} ') -> f:variable(name: '_endDay')}
    {f:variable(name: '_toEndDay', value: ' - {_endDay}')}
    <f:if condition="{n.fullDay}">
        <f:then>
            <f:if condition="{n.eventEnd}">
                <f:then>
                    {_startDay}{_toEndDay -> f:if(condition: '{_startDay} != {_endDay}')}
                </f:then>
                <f:else>
                    {_startDay}
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{n.eventEnd}">
                <f:then>
                    {_startDay}{f:format.date(date: n.datetime, format: 'H:i')} - {_endDay -> f:if(condition: '{_startDay} != {_endDay}')}{f:format.date(date: n.eventEnd, format: 'H:i')}
                </f:then>
                <f:else>
                    {_startDay}{f:format.date(date: n.datetime, format: 'H:i')}
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</v:format.trim>
</html>
