<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers" data-namespace-typo3-fluid="true">

{v:variable.get(name: 'settings.pizpalue.teaser') -> f:variable(name: 'teaserConfig')}
<div class="pp-ttaddress-teaser">
    <v:iterator.loop count="{settings.pizpalue.teaser.maxItemCount}">
        {v:iterator.random(subject: addresses) -> f:variable(name:'randomAddress')}
        <f:render partial="TeaserItem" arguments="{address: randomAddress, teaserConfig: teaserConfig}" />
    </v:iterator.loop>
</div>

</html>