<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="pp-ttaddress-teaser">
    <v:iterator.loop count="6">
        {v:iterator.random(subject: addresses) -> f:variable(name:'randomAddress')}
        <f:render partial="TeaserItem" arguments="{address: randomAddress, settings: settings}" />
    </v:iterator.loop>
</div>

</html>