//
// General space
//
$pp-space-scaling: (
  xs: 1 / 1.75,
  sm: 1 / 1.75 * 1.25,
  md: 1 / 1.75 * 1.5,
  lg: 1,
  xl: 1
) !default;

//
// Headings contrast color
//
$pp-headings-yiq: color-yiq($body-color);
@if $headings-color {
  $pp-headings-yiq: color-yiq($headings-color);
}
