//
// Under dev indicator
// --------------------------------------------------
@if ($pp-bootstrap-version == 4) {
    $pp-dev-color: red;
}
@if ($pp-bootstrap-version == 5) {
    $pp-dev-color: orange;
}
@keyframes blink {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.3;
    }
}
#setupsetting {
    z-index: 10000;
    position: fixed;
    left: 8px;
    top: 8px;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: radial-gradient($pp-dev-color, $pp-dev-color 50%, white);
    animation: blink 3s ease-in-out 0s infinite;
}

//
// Icon demo
// --------------------------------------------------
.pp-icondemo .ppicon {
    box-shadow: 0 0 1px 0 rgba(red, 0.5);
}
