<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    ====================================================================================================================
    Based on EXT:bootstrap_package/Resources/Private/Partials/ContentElements/Frame/General/BackgroundImage.html
    ====================================================================================================================
</f:comment>
<f:if condition="{backgroundImage.0}">
    <f:variable name="backgroundImageObject" value="{backgroundImage.0}"/>
    <pp:structure.variants as="_pageVariants" initialVariants="pageVariants" />
    <f:variable name="styles" value=""/>
    <f:for each="{_pageVariants}" key="name" as="variant">
        {f:variable(name: 'cropVariant', value: name)}
        {f:variable(name: 'cropVariant', value: 'default') -> f:if(condition: '{name} == "xlarge"')}
        <f:variable name="breakpoint">{variant.breakpoint as integer}</f:variable>
        <f:variable name="width">{variant.width as integer}</f:variable>
        <f:if condition="{width} && {variant.sizes}">
            <f:variable name="variantStyle" value=""/>
            <f:for each="{variant.sizes}" key="sizeKey" as="sizeConfig" iteration="iteration">
                <f:variable name="sizeWidth">{sizeConfig.multiplier as float}</f:variable>
                <f:variable name="sizeWidth">{sizeWidth * width}</f:variable>
                <f:variable name="sizeDppx">{sizeKey as float}</f:variable>
                <f:variable name="mediaBreakpoint"><f:if condition="{breakpoint}">(min-width: {breakpoint}px)</f:if></f:variable>
                <f:variable name="mediaQuery" value=""/>
                <f:if condition="{mediaBreakpoint}">
                    <f:variable name="mediaQuery">{mediaBreakpoint}</f:variable>
                </f:if>
                <f:if condition="{sizeDppx} > 1">
                    <f:variable name="mediaQuery">(-webkit-min-device-pixel-ratio: {sizeDppx})<f:if condition="{mediaBreakpoint}"> and {mediaBreakpoint}</f:if></f:variable>
                    <f:variable name="mediaQuery">{mediaQuery}, (min-resolution: {sizeDppx}dppx)<f:if condition="{mediaBreakpoint}"> and {mediaBreakpoint}</f:if></f:variable>
                </f:if>
                <f:variable name="variantStyle">{variantStyle} <f:if condition="{mediaQuery}">@media {mediaQuery} { </f:if>body{backgroundImageIdentifier} { background-image: url('{f:uri.image(image: backgroundImageObject, cropVariant: cropVariant, maxWidth: sizeWidth)}'); }<f:if condition="{mediaQuery}"> }</f:if></f:variable>
            </f:for>
            <f:variable name="styles" value="{variantStyle -> f:format.trim()} {styles}"/>
        </f:if>
    </f:for>
    <style>{styles -> f:format.raw()}</style>
</f:if>
</html>
