@import "../../functions";
@import "../../variables";
@import "../../mixins";

.pp-fastmenu {
    --pp-fastmenu-icon-size: calc(0.6 * #{$pp-fastmenu-icon-size});
    --pp-fastmenu-content-min-width: 260px;
    @include media-breakpoint-up(sm) {
        --pp-fastmenu-icon-size: calc(0.8 * #{$pp-fastmenu-icon-size});
        --pp-fastmenu-content-min-width: 400px;
    }
    @include media-breakpoint-up(lg) {
        --pp-fastmenu-icon-size: #{$pp-fastmenu-icon-size};
        --pp-fastmenu-content-min-width: 600px;
    }
    position: fixed;
    z-index: 2000;
    top: 40%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-items: center;
    transition: right 0.7s;

    .ppicon {
        display: inline-block;
        font-size: 0;
        &:before {
            transform: none;
        }
    }

    .pp-fm-icongroup {
        z-index: 1;
        .ppicon {
            background: $pp-fastmenu-icon-bg;
            color: $pp-fastmenu-icon-color;
            margin: 3px 0 3px 3px;
            padding: 5px;
            cursor: pointer;
            transition: color 0.7s;
            &:before {
                width: var(--pp-fastmenu-icon-size);
                font-size: var(--pp-fastmenu-icon-size);
                line-height: 1;
                text-align: center;
            }
            &:hover {
                color: $pp-fastmenu-icon-hover-color;
            }
            &.pp-active {
                color: $pp-fastmenu-icon-active-color;
            }
            &.ppc-inline svg {
                width: var(--pp-fastmenu-icon-size);
                height: var(--pp-fastmenu-icon-size);
            }
        }
    }

    .pp-fm-handle {
        z-index: 1;
        display: flex;
        color: $pp-fastmenu-handle-color;
        cursor: pointer;
        transition: opacity 0.7s;
        .ppicon {
            transition: transform 0.7s;
            &:before {
                font-size: 30px;
            }
        }
    }
    &.ppc-content-show .pp-fm-handle {
        opacity: 0;
    }

    &.pp-minimize {
        right: calc(-1 * (var(--pp-fastmenu-icon-size) + 5px));
        .pp-fm-handle .ppicon {
            transform: rotate(180deg);
        }
    }

    .pp-fm-content {
        position: relative;
        margin-right: -15px;
        .pp-fm-item {
            position: absolute;
            overflow: hidden;
            min-width: var(--pp-fastmenu-content-min-width);
            transform: translate(calc(2 * var(--pp-fastmenu-icon-size)), -50%);
            opacity: 1;
            transition: all 0.7s;
            .pp-fm-wrap {
                width: 100%;
                background: $pp-fastmenu-content-bg;
                border: $pp-fastmenu-content-border-color 1px solid;
            }
            &.pp-show {
                transform: translate(-100%, -50%);
                opacity: 1;
            }
        }
    }
    .pp-fm-wrap > .frame {
        padding-top: var(--bs-gutter-x, #{$container-padding-x});
        padding-bottom: var(--bs-gutter-x, #{$container-padding-x});
    }

}
