<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="pp-picoverlay-item pp-picoverlay-gallery">
    <f:render partial="Media/Gallery" arguments="{_all}" />
</div>
<f:if condition="{data.header} || {data.bodytext}">
    <div class="pp-picoverlay-item pp-picoverlay-text">
        <div class="ppc-wrap">
            <h{_headerLayout} class="ppc-header {settings.header.class}{_headerPosition}{_headerClass}">
            {data.header}
            </h{_headerLayout}>
            <div class="ppc-body"><f:format.html>{data.bodytext}</f:format.html></div>
        </div>
    </div>
</f:if>
<span class="ppc-show"></span>
<span class="ppc-hide"></span>
<f:if condition="{settings.pizpalue.siteMode} == 1 || {pizpalue.agency.siteMode} == 2">
    <f:then>
        <f:asset.script identifier="pp-picoverlay-info" src="EXT:pizpalue/Resources/Public/JavaScript/Src/ContentElement/picoverlay.info.js" />
    </f:then>
    <f:else>
        <f:asset.script identifier="pp-picoverlay-info" src="EXT:pizpalue/Resources/Public/JavaScript/Dist/ContentElement/picoverlay.info.min.js" />
    </f:else>
</f:if>

</html>
