<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.dummyAsset}">
    <f:then>
        <f:render partial="Plugin/RenderMedia" arguments="{file: settings.dummyAsset.0, settings: settings}" />
    </f:then>
    <f:else>
        <f:if condition="{settings.list.media.dummyImage}">
            <f:image class="img-dummy img-responsive" src="{settings.list.media.dummyImage}" title="" alt=""
                     maxWidth="{settings.list.media.image.maxWidth}"
                     maxHeight="{settings.list.media.image.maxHeight}" />
        </f:if>
    </f:else>
</f:if>

</html>
