<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">

<div class="ppc-organizer">
    <f:if condition="{n.organizer.link}">
        <f:then>
            <f:link.typolink parameter="{n.organizer.link}">
                <h5>{f:translate(extensionName: 'eventnews', key: 'organizer')}: {n.organizer.title}</h5>
            </f:link.typolink>
        </f:then>
        <f:else>
            <h5>{f:translate(extensionName: 'eventnews', key: 'organizer')}: {n.organizer.title}{n.organizerSimple}</h5>
        </f:else>
    </f:if>
    <f:if condition="{n.organizer.description}">
        <p><f:format.nl2br>{n.organizer.description}</f:format.nl2br></p>
    </f:if>
    <f:if condition="{n.organizer.link}">
        <span class="ppc-more"><f:link.typolink parameter="{n.organizer.link}">{f:translate(extensionName: 'pizpalue', key: 'moreDetails')}</f:link.typolink></span>
    </f:if>
</div>

</html>
