//----------------------------------------------------------------------------------------------------------------------
//
// Classes used in appearance tab from content element
//
//----------------------------------------------------------------------------------------------------------------------

//
// General: Classes act on element they are assigned to
//
.pp-bg-primary {
  background-color: $primary;
}
.pp-bg-secondary {
  background-color: $secondary;
}
.pp-bg-complementary {
  background-color: $complementary;
}
.pp-bg-light {
  background-color: $light;
}
.pp-bg-dark {
  background-color: $dark;
}
.pp-bg-centercover {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.pp-bg-fixed {
  background-attachment: fixed;
  @media (hover: none) {
    & {
      background-attachment: initial;
    }
  }
}

//
// Content inner: act on inner container
//
.pp-inner-margin {
  &.pp-content, > .frame-container > .frame-inner {
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        margin: ($frame-inner-spacing * $scaling);
      }
    }
  }
}
.pp-inner-padding {
  &.pp-content, > .frame-container > .frame-inner {
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding: ($frame-inner-spacing * $scaling);
      }
    }
  }
}
.pp-inner-bgwhite70 {
  &.pp-content, > .frame-container > .frame-inner {
    background-color: rgba(white, 0.7);
  }
}
.pp-inner-bggrey70 {
  &.pp-content, > .frame-container > .frame-inner {
    background-color: rgba(gray, 0.7);
  }
}
.pp-inner-bgblack70 {
  &.pp-content, > .frame-container > .frame-inner {
    background-color: rgba(black, 0.7);
  }
}

//
// Gallery items
//
div.pp-gallery-item-left {
  .gallery-item {
    text-align: left;
    figure {
      display: inline-block;
      width: auto;
      max-width: 100%;
    }
  }
}
div.pp-gallery-item-right {
  .gallery-item {
    text-align: right;
    figure {
      display: inline-block;
      width: auto;
      max-width: 100%;
    }
  }
}
.pp-gallery-item-join {
  overflow: hidden;
  .gallery-item {
    margin: 0;
    padding: 0;
    figure {
      margin-bottom: auto;
    }
  }
}
.pp-gallery-item-shadow {
  .gallery-item img {
    box-shadow: 5px 5px 15px 5px gray;
  }
}

//
// Cards
//
@each $name, $settings in $frame-backgrounds {
  @include pp-make-card($name, $settings);
}

//
// Various / Utility
//
.pp-label-dataprotection {
  display: none;
}
.pp-below-header {
  @each $breakpoint in map-keys($navbar-heights) {
    @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
      margin-top: -#{map-get($navbar-heights, $breakpoint)};
    }
  }
}
