//
// Read more
//
.textmedia-text {
  .ppc-control .ppc-icon {
    display: inline-block;
    transition: transform 500ms;
  }
  .ppc-bodytext.show + .ppc-control {
    .ppc-icon {
      transform: rotateZ(180deg);
    }
  }
}

//
// Layout `emphasize_media`
//
.frame-type-textmedia.frame-layout-pp-emphasize-media {
  .textmedia-left, .textmedia-right {
    align-items: flex-start;
    .textmedia-text {
      background: $body-bg;
      z-index: 1;
    }
  }
  .textmedia-centered {
    align-items: center;
  }
  @include media-breakpoint-up(lg) {
    .textmedia-left, .textmedia-right {
      .textmedia-gallery {
        width: 70%;
      }
    }
    .textmedia-left {
      .textmedia-text {
        margin-left: -20%;
      }
    }
    .textmedia-right {
      .textmedia-text {
        margin-right: -20%;
      }
    }
  }
}
