<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>
    The subheader is only rendered in case the header is set.
    @see 1602678897780
</f:comment>
{f:variable(name: '_headerClasses', value: data.tx_pizpalue_header_class) -> f:if(condition: '{data.tx_pizpalue_header_class} != "none"')}
{pvh:format.trim(content: '{_headerClasses} {settings.header.class}') -> f:variable(name: '_headerClasses')}
{f:variable(name: '_subheaderClasses', value: data.tx_pizpalue_subheader_class) -> f:if(condition: '{data.tx_pizpalue_subheader_class} != "none"')}
{pvh:format.trim(content: '{_subheaderClasses} {settings.subheader.class}') -> f:variable(name: '_subheaderClasses')}
<f:if condition="{data.header_layout} != 100">
    <f:if condition="{data.header} || {data.date}">
        <header class="frame-header">
            <f:render partial="Header/Header" arguments="{
                header: '{data.header -> f:format.html() -> f:format.stripTags(allowedTags: \'<span><i><b>\')}',
                layout: data.header_layout,
                class: _headerClasses,
                positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}',
                link: data.header_link,
                default: settings.header.defaultHeaderType}" />
            <f:if condition="{data.header}">
                <f:render partial="Header/SubHeader" arguments="{
                    subheader: '{data.subheader -> f:format.html() -> f:format.stripTags(allowedTags: \'<span><i><b>\')}',
                    layout: data.header_layout,
                    class: _subheaderClasses,
                    positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}',
                    default: settings.header.defaultHeaderType}" />
            </f:if>
            <f:render partial="Header/Date" arguments="{
                date: data.date,
                format: settings.header.date.format,
                positionClass: '{f:if(condition: data.header_position, then: \'text-{data.header_position}\')}'}" />
        </header>
    </f:if>
</f:if>
</html>
