<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <button type="button"
            class="{data.pi_flexform.button_class}"
            data-bs-toggle="modal"
            data-bs-target="#pp-modal-dialog-{data.uid}"
            data-toggle="modal"
            data-target="#pp-modal-dialog-{data.uid}">
        {data.header}
    </button>

    <div class="modal fade pp-modal-dialog" id="pp-modal-dialog-{data.uid}" tabindex="-1" role="dialog"
         aria-labelledby="pp-modal-dialog-title-{data.uid}" aria-hidden="true">
        <div class="{data.pi_flexform.dialog_class}" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pp-modal-dialog-title-{data.uid}">{data.header}</h5>
                    <button type="button" class="close btn-close" data-bs-dismiss="modal" data-dismiss="modal"
                            aria-label="{f:translate(key: 'LLL:EXT:pizpalue/Resources/Private/Language/locallang.xlf:close')}">
                    </button>
                </div>
                <div class="modal-body">
                    <f:format.raw>{shortcuts}</f:format.raw>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-dismiss="modal">
                        {f:translate(key: 'LLL:EXT:pizpalue/Resources/Private/Language/locallang.xlf:close')}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <f:if condition="{pizpalue.features.revealFooter}">
        <f:comment>
            The reveal footer feature introduces a new stacking context resulting in the modal dialog
            to be behind the backdrop used to darken the page background. For the modal dialog to appear
            correctly the dialog is moved here before the closing body tag.

            See https://philipwalton.com/articles/what-no-one-told-you-about-z-index/
        </f:comment>
<f:asset.script identifier="pp-modal-dialog">
pp.domReady(() => {
    document.querySelectorAll('.pp-modal-dialog').forEach((dialog) => {
        document.body.appendChild(dialog);
    });
});
</f:asset.script>
    </f:if>

</f:section>
</html>
