<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    {f:variable(name: '_headerLayout', value: data.header_layout)}
    {f:variable(name: '_headerLayout', value: settings.header.defaultHeaderType) -> f:if(condition: '{data.header_layout as integer} === 0')}
    {f:variable(name: '_headerPosition', value: ' text-{data.header_position}') -> f:if(condition: data.header_position)}
    {f:variable(name: '_headerClass', value: ' {data.tx_pizpalue_header_class}') -> f:if(condition: '{data.tx_pizpalue_header_class} != "none"')}
    {f:variable(name: '_partial', value: 'bar')}
    {data.pi_flexform.type -> f:variable(name: '_partial') -> f:if(condition: data.pi_flexform.type)}
    <div class="pp-picoverlay ppc-{_partial}">
        <f:render partial="Picoverlay/{_partial -> f:format.case(mode: 'capital')}" arguments="{_all}" />
    </div>
</f:section>
</html>
