<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">
    {f:format.json(value: {
        0: data.pi_flexform.itemHeight,
        575: data.pi_flexform.itemHeightSm,
        767: data.pi_flexform.itemHeightMd,
        991: data.pi_flexform.itemHeightLg,
        1199: data.pi_flexform.itemHeightXl
    }) -> f:variable(name: '_heights')}
    <div class="pp-list-categorized-content" data-pp-heights="{_heights}">
        <f:for each="{content}" as="ce" iteration="iterator">
            <f:if condition="{iterator.index} < {data.pi_flexform.itemCount}">
                <div class="ppc-item{f:if(condition: data.pi_flexform.collapsible, then: ' ppc-collapsible')}">
                    <f:cObject typoscriptObjectPath="lib.pizpalue.renderContent" data="{uid: ce.data.uid}" />
                    <f:if condition="{data.pi_flexform.collapsible}">
                        <div class="ppc-bottom"></div>
                        <div class="ppc-more">
                            <span>+</span>
                        </div>
                    </f:if>
                </div>
            </f:if>
        </f:for>
    </div>
    <f:if condition="{settings.pizpalue.siteMode} == 1 || {pizpalue.agency.siteMode} == 2">
        <f:then>
            <f:asset.script identifier="pp-categorized-content" src="EXT:pizpalue/Resources/Public/JavaScript/Src/ContentElement/list-categorized-content.js" />
        </f:then>
        <f:else>
            <f:asset.script identifier="pp-categorized-content" src="EXT:pizpalue/Resources/Public/JavaScript/Dist/ContentElement/list-categorized-content.min.js" />
        </f:else>
    </f:if>
</f:section>
</html>
