<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    {f:variable(name: '_headerLayout', value: data.header_layout)}
    {f:variable(name: '_headerLayout', value: settings.header.defaultHeaderType) -> f:if(condition: '{data.header_layout as integer} === 0')}
    {f:variable(name: '_headerPosition', value: ' text-{data.header_position}') -> f:if(condition: data.header_position)}
    {f:variable(name: '_headerClass', value: ' {data.header_class}') -> f:if(condition: '{data.tx_pizpalue_header_class} != "none"')}
    {f:variable(name: '_type', value: 'bar')}
    {data.pi_flexform.type -> f:variable(name: '_type') -> f:if(condition: data.pi_flexform.type)}
    {f:variable(name: '_class', value: 'ppc-{_type}')}
    {f:variable(name: '_class', value: 'ppc-{_type} ppc-info') -> f:if(condition: '{_type} == "image"')}
    {f:variable(name: '_partial', value: '{_type -> f:format.case(mode: "capital")}')}
    {f:variable(name: '_partial', value: 'Info') -> f:if(condition: '{_type} == "image"')}
    <div class="pp-picoverlay {_class}">
        <f:render partial="PpPicoverlay/{_partial}" arguments="{_all}" />
    </div>
</f:section>
</html>
