<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">
    {f:variable(name: 'cvHeaderLayout', value: data.header_layout)}
    {f:variable(name: 'cvHeaderLayout', value: settings.header.defaultHeaderType) -> f:if(condition: '{data.header_layout as integer} === 0')}
    {f:variable(name: 'cvHeaderPosition', value: ' text-{data.header_position}') -> f:if(condition: data.header_position)}
    {f:variable(name: 'cvHeaderClass', value: ' {data.header_class}') -> f:if(condition: '{data.tx_pizpalue_header_class} != "none"')}
    {f:variable(name: 'cvType', value: 'bar')}
    {data.pi_flexform.type -> f:variable(name: 'cvType') -> f:if(condition: data.pi_flexform.type)}
    {f:variable(name: 'cvClass', value: 'ppc-{cvType}')}
    {f:variable(name: 'cvClass', value: 'ppc-{cvType} ppc-info') -> f:if(condition: '{cvType} == "image"')}
    {f:variable(name: 'cvPartial', value: '{cvType -> f:format.case(mode: "capital")}')}
    {f:variable(name: 'cvPartial', value: 'Info') -> f:if(condition: '{cvType} == "image"')}
    <div class="pp-picoverlay {cvClass}">
        <f:render partial="PpPicoverlay/{cvPartial}" arguments="{_all}" />
    </div>
</f:section>
</html>
