<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers"
      data-namespace-typo3-fluid="true">

{f:variable(name: 'class', value: 'col')}
{f:variable(name: 'class', value: '{class}-{breakpoint}') -> f:if(condition: '{breakpoint} != "none"')}
{f:variable(name: 'class', value: '{class}-{column.width}') -> f:if(condition: '{column.width} != "equal"')}
{f:variable(name: 'class', value: '') -> f:if(condition: '{column.width} == "none"')}

{f:variable(name: 'class', value: '{class} {column.class}') -> f:if(condition: column.class)}
{f:variable(name: 'class', value: '{class} ce-col-collapse') -> f:if(condition: collapse)}
{f:variable(name: '_settings', value: settings.containerElements.imageVariants)}
{f:variable(name: '_gutter', value: _settings.gutter.variants) -> f:if(condition: '{_settings.gutter.enable as integer} == 1')}
{f:variable(name: '_correction', value: _settings.correction.variants) -> f:if(condition: '{_settings.correction.enable as integer} == 1')}

<pp:render.bootstrap.column class="ce-col {class}" count="{colCount}" gutter="{_gutter}" correction="{_correction}">
    <f:for each="{content}" as="record">
        {f:cObject(typoscriptObjectPath: 'lib.containerElements.renderContent', data: record)}
    </f:for>
</pp:render.bootstrap.column>
</html>
