.pp-social-link {
	white-space: nowrap;
	transition: color 0.7s;
}

.pp-ion-social-bar {
	padding: 0;
	font-size: 28px;
	line-height: 28px;
	li {
		margin: 0 0.2em;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
