.pp-social-bar {
	padding: 0;
	font-size: @pp-social-icon-height;
	line-height: @pp-social-icon-height;
	.pp-social-link {
		margin: 0 @pp-social-icon-margin;
		white-space: nowrap;
		transition: color 0.7s;
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
