<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:if condition="{files}">
    <f:comment>
        *************************************************************************************
        Get configuration and variants for lead image: `cvColumnConfigLead`, `cvVariantsLead`
        *************************************************************************************
    </f:comment>
    <f:variable name="cvColumnConfigLead">{settings.gallery.columns.1}</f:variable>
    <bk2k:data.imageVariants as="cvVariantsLead" variants="{variants}" multiplier="{cvColumnConfigLead.multiplier}" gutters="{cvColumnConfigLead.gutters}" corrections="{cvColumnConfigLead.corrections}" />

    <f:comment>
        ***********************************************************************************
        Get configuration and variants for remaining images: `cvColumnConfig`, `cvVariants`
        ***********************************************************************************
    </f:comment>
    <f:variable name="imagecols">1</f:variable>
    <f:if condition="{files -> f:count()} > 1">
        <f:variable name="imagecols">{data.imagecols as integer}</f:variable>
    </f:if>
    <f:variable name="cvColumnConfig">{settings.gallery.columns.{imagecols}}</f:variable>
    <bk2k:data.imageVariants as="cvVariants" variants="{variants}" multiplier="{cvColumnConfig.multiplier}" gutters="{cvColumnConfig.gutters}" corrections="{cvColumnConfig.corrections}" />

    <f:comment>
        **************
        Render gallery
        **************
    </f:comment>
    <div class="gallery-row">
        <f:for each="{files}" as="file" iteration="fileIteration">
            <f:if condition="{fileIteration.index} == 0">
                <f:then>
                    <div class="gallery-item {cvColumnConfigLead.class}">
                        <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: cvVariantsLead}" />
                    </div>
                </f:then>
                <f:else>
                    <div class="gallery-item {cvColumnConfig.class}">
                        <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: cvVariants}" />
                    </div>
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:if>
</html>
