<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="General" />
<!--
    =====================
        Templates/News/List.html
-->

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <f:if condition="{settings.templateLayout} == 11">
                <f:then>
                    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/ItemImageTop"
                                              arguments="{newsItem: newsItem, settings:settings, iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:render section="ListWithPaginator" arguments="{
                                    partial: 'ItemImageTop',
                                    settings: settings,
                                    pagination: pagination.pagination,
                                    paginator: pagination.paginator
                                }" />
                            </f:else>
                        </f:if>
                    </div>
                </f:then>
                <f:else>
                    <div class="news-list-view" id="news-container-{contentObjectData.uid}">
                        <f:if condition="{settings.hidePagination}">
                            <f:then>
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/Item"
                                              arguments="{newsItem: newsItem, settings:settings, iterator:iterator}" />
                                </f:for>
                            </f:then>
                            <f:else>
                                <f:render section="ListWithPaginator" arguments="{
                                    partial: 'Item',
                                    settings: settings,
                                    pagination: pagination.pagination,
                                    paginator: pagination.paginator
                                }" />
                            </f:else>
                        </f:if>
                    </div>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <div class="alert alert-{settings.alert}">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>

<f:section name="ListWithPaginator">
    <f:if condition="{settings.list.paginate.insertAbove} && {paginator.numberOfPages} > 1">
        <div class="pp-pagination pp-pagination-top">
            <f:render partial="List/Pagination" arguments="{pagination: pagination, paginator: paginator}" />
        </div>
    </f:if>
    <div class="pp-listpage">
        <f:for each="{paginator.paginatedItems}" as="newsItem" iteration="iterator">
            <f:render partial="List/{partial}" arguments="{newsItem: newsItem, settings:settings, iterator:iterator}" />
        </f:for>
    </div>
    <f:if condition="{settings.list.paginate.insertBelow} && {paginator.numberOfPages} > 1">
        <div class="pp-pagination pp-pagination-bottom">
            <f:render partial="List/Pagination" arguments="{pagination: pagination, paginator: paginator}" />
        </div>
    </f:if>
</f:section>
</html>
