//
// Basics
//
.pp-tile {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    margin-top: 100%;
  }
  > .frame-container {
    position: absolute;
    left: $pp-tile-gutter;
    top: $pp-tile-gutter;
    right: $pp-tile-gutter;
    bottom: $pp-tile-gutter;
    overflow: hidden;
    margin: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//
// Side ratios
//
.pp-tile-21:before {
  margin-top: 50%;
}
.pp-tile-12:before {
  margin-top: 200%;
}

//
// Tile border
//
.pp-tile-row, :not(.pp-tile-col) > .pp-tile {
  margin-left: -$pp-tile-gutter;
  margin-right: -$pp-tile-gutter;
  &:nth-of-type(1) {
    margin-top: -$pp-tile-gutter;
  }
  &:nth-last-of-type(1) {
    margin-bottom: -$pp-tile-gutter;
  }
  .pp-tile-row {
    margin: 0;
  }
}

//
// Images
//
.pp-tile {
  figure {
    margin-bottom: 0;
  }
  &:not(.pp-type-media) figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.9);
    padding: 8px;
  }
}

//
// Videos
//
.pp-tile {
  &.pp-type-media {
    figure {
      padding: $table-cell-padding;
    }
  }
}

//
// Overlaycard
//
.pp-tile {
  &.pp-ce-overlaycard {
    .frame-inner, .textpic, .textpic-item {
      height: 100%;
    }
  }
}

//
// Classes
//
.pp-tile.pp-bg-primary, .pp-tile.pp-bg-secondary, .pp-tile.pp-bg-complementary {
  background: transparent;
  a {
    text-decoration: underline dotted;
    &:hover {
      text-decoration: underline;
    }
  }
}
.pp-tile.pp-bg-primary {
  > .frame-container {
    background: $primary;
  }
  &, a {
    color: color-yiq($primary);
  }
}
.pp-tile.pp-bg-secondary {
  > .frame-container {
    background: $secondary;
  }
  &, a {
    color: color-yiq($secondary);
  }
}
.pp-tile.pp-bg-complementary {
  > .frame-container {
    background: $complementary;
  }
  &, a {
    color: color-yiq($complementary);
  }
}
.pp-tile-scroll-y > .frame-container {
  align-items: flex-start;
  overflow-y: auto;
  .frame-inner {
    margin: $table-cell-padding;
  }
}
