.pp-bg-primary {
  background-color: $primary;
}
.pp-bg-secondary {
  background-color: $secondary;
}
.pp-bg-complementary {
  background-color: $complementary;
}
.pp-bg-light {
  background-color: $light;
}
.pp-bg-dark {
  background-color: $dark;
}