//
// List categorized content
//
.pp-list-categorized-content {
  .ppc-collapsible {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 0;
    border: tint($primary,50%) 1px solid;
    > .frame {
      padding-top: 0;
      padding-bottom: 0;
    }
    .ppc-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(0deg, white 70%, transparent);
    }
  }
  @each $breakpoint in map-keys($pp-frame-outer-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($pp-frame-outer-spacing-scaling, $breakpoint);
      .ppc-collapsible {
        margin-top: $pp-frame-outer-spacing * $scaling;
        padding: 0.5rem * $scaling;
        .ppc-bottom {
          height: 0.7rem * $scaling;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .ppc-more {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 2rem;
    text-align: center;
    border-left: white 10px solid;
    border-top: white 10px solid;
    background: tint($primary,50%);
    color: contrast(tint($primary,50%));
    opacity: 0;
    transition: background 200ms, color 200ms, opacity 200ms;
    cursor: pointer;
    &:hover {
      background: tint($primary,30%);
      color: contrast(tint($primary,30%));
    }
    span {
      display: block;
      transition: transform 200ms;
    }
    &.open {
      span {
        transform: rotate(45deg);
      }
    }
  }
}

//
// Overlay card
//
.pp-ce-overlaycard {
  .textpic {
    position: relative;
    overflow: hidden;
  }
  .textpic-gallery {
    margin-bottom: 0;
    figure {
      margin-bottom: 0;
    }
  }
  .textpic-text {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top,transparentize(tint($primary,0.9),0.1),transparentize(tint($primary,0.9),0.1));
    background-clip: padding-box;
    border-left: 20px transparent solid;
    border-right: 20px transparent solid;
    transition: top 0.5s;
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding: ($frame-inner-spacing * $scaling * 0.7) ($frame-inner-spacing * $scaling);
      }
    }
  }
}