//----------------------------------------------------------------------------------------------------------------------
//
// Classes for content elements provided by pizpalue
//
//----------------------------------------------------------------------------------------------------------------------

//
// List categorized content
//
.pp-list-categorized-content {
  .ppc-collapsible {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    max-height: 0;
    border: tint($primary,50%) 1px solid;
    > .frame {
      padding-top: 0;
      padding-bottom: 0;
    }
    .ppc-bottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(0deg, white 70%, transparent);
    }
  }
  @each $breakpoint in map-keys($pp-frame-outer-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($pp-frame-outer-spacing-scaling, $breakpoint);
      .ppc-collapsible {
        margin-top: $pp-frame-outer-spacing * $scaling;
        padding: 0.5rem * $scaling;
        .ppc-bottom {
          height: 0.7rem * $scaling;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  .ppc-more {
    box-sizing: content-box;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.2rem;
    height: 2.2rem;
    box-shadow: -3px -3px 6px white;
    line-height: 2.2rem;
    font-size: 2rem;
    text-align: center;
    border-left: white 6px solid;
    border-top: white 6px solid;
    background: tint($primary,50%);
    color: color-yiq(tint($primary,50%));
    opacity: 0;
    transition: background 200ms, color 200ms, opacity 200ms;
    cursor: pointer;
    &:hover {
      background: tint($primary,30%);
      color: contrast(tint($primary,30%));
    }
    span {
      display: block;
      transition: transform 200ms;
    }
    &.open {
      span {
        transform: rotate(45deg);
      }
    }
  }
}

