//
// Config
// --------------------------------------------------
$pp-bootstrap-version: 5 !default;

//
// Colors
// --------------------------------------------------
$complementary: #f28c0f !default;
$navbar-light-bg: #e8e8e8 !default;
$navbar-dark-bg: #2b2b2b !default;
$footer-bg: #333 !default;
$footer-meta-bg: #222 !default;
$headings-color: $body-color !default;

//
// Headings contrast color
// --------------------------------------------------
$pp-headings-yiq: color-contrast($body-color);
@if $headings-color {
    $pp-headings-yiq: color-contrast($headings-color);
}

//
// Footer
// --------------------------------------------------
$footer-color: color-contrast($footer-bg) !default;
$footer-link-color: mix($primary, $footer-color) !default;
$footer-link-hover-color: lighten($footer-link-color, 10%) !default;
$footer-link-hover-decoration: none !default;
$footer-meta-bg: darken($footer-bg, 3%) !default;
$footer-meta-color: color-contrast($footer-meta-bg) !default;
$footer-meta-link-color: mix($primary, $footer-meta-color) !default;
$footer-meta-link-hover-color: lighten($footer-meta-link-color, 10%) !default;
$footer-meta-link-hover-decoration: $footer-link-hover-decoration !default;
$footer-sections: () !default;
$footer-sections: map-merge($footer-sections, (
    content: (
        background: $footer-bg,
        color: $footer-color,
        link-color: $footer-link-color,
        link-hover-color: $footer-link-hover-color,
        link-hover-decoration: $footer-link-hover-decoration
    ),
    meta: (
        background: $footer-meta-bg,
        color: $footer-meta-color,
        link-color: $footer-meta-link-color,
        link-hover-color: $footer-meta-link-hover-color,
        link-hover-decoration: $footer-meta-link-hover-decoration
    )
));

//
// Frame Backgrounds
// @see pp-make-link, pp-make-background
// --------------------------------------------------
$pp-frame-background-primary: () !default;
$pp-frame-background-primary: map-merge(pp-get-frame-background-settings($primary), $pp-frame-background-primary);
$pp-frame-background-secondary: () !default;
$pp-frame-background-secondary: map-merge(pp-get-frame-background-settings($secondary), $pp-frame-background-secondary);
$pp-frame-background-complementary: () !default;
$pp-frame-background-complementary: map-merge(pp-get-frame-background-settings($complementary), $pp-frame-background-complementary);
$pp-frame-background-tertiary: () !default;
$pp-frame-background-tertiary: map-merge(pp-get-frame-background-settings($tertiary), $pp-frame-background-tertiary);
$pp-frame-background-quaternary: () !default;
$pp-frame-background-quaternary: map-merge(pp-get-frame-background-settings($quaternary), $pp-frame-background-quaternary);
$pp-frame-background-light: () !default;
$pp-frame-background-light: map-merge(pp-get-frame-background-settings($light, (
    'color':                    $body-color,
    'headings-color':           $headings-color,
    'link-color':               $link-color,
    'link-hover-color':         $link-hover-color,
    'link-decoration':          'none',
    'link-decoration-style':    null,
)), $pp-frame-background-light);
$pp-frame-background-dark: () !default;
$pp-frame-background-dark: map-merge(pp-get-frame-background-settings($dark), $pp-frame-background-dark);

$frame-backgrounds: () !default;
$frame-backgrounds: map-merge((
    'primary': $pp-frame-background-primary,
    'secondary': $pp-frame-background-secondary,
    'complementary': $pp-frame-background-complementary,
    'tertiary': $pp-frame-background-tertiary,
    'quaternary': $pp-frame-background-quaternary,
    'light': $pp-frame-background-light,
    'dark': $pp-frame-background-dark
), $frame-backgrounds);

//
// Frame inner spacing variants
//
$pp-frame-inner-spacing-variants: () !default;
$pp-frame-inner-spacing-variants: map-merge((
    'none': 0,
    'small': 0.5,
    'large': 1.5,
    'extra-large': 2.0
), $pp-frame-inner-spacing-variants);

//
// General space
// --------------------------------------------------
$pp-space-scaling: (
    xs: 1 / 1.75,
    sm: 1 / 1.75 * 1.25,
    md: 1 / 1.75 * 1.5,
    lg: 1,
    xl: 1,
    xxl: 1
) !default;
