/**
 * Returns the color with best contrast
 *
 * This function is a copy from color-yiq using it with a built in function doesn't work:
 * > mix($primary,color-yiq($footer-color)) doesn't work
 * > mix($primary,pp-contrast($footer-color)) works
 *
 */
@function pp-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $yiq-text-dark;
  } @else {
    @return $yiq-text-light;
  }
}