<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/Buepro/Pizpalue/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="vcard" itemscope itemtype="http://schema.org/Person">
    <div class="pp-picoverlay ppc-info ppc-container">
        <div class="pp-picoverlay-item pp-picoverlay-gallery">
            <div class="gallery-row">
                <div class="gallery-item gallery-item-size-1">
                    <picture>
                        <f:for each="{teaserConfig.variants}" key="name" as="variant">
                            <f:variable name="breakpoint">{variant.breakpoint as integer}</f:variable>
                            <f:variable name="width" value="{variant.item.relativeWidth / 100 * variant.maxWidth}" />
                            <f:variable name="height" value="{teaserConfig.item.relativeHeight / 100 * width}" />
                            <f:if condition="{address.image}">
                                <f:then>
                                    {f:uri.image(image: address.firstImage, width: width, height: height, cropVariant: name, maxWidth: width)
                                    -> f:variable(name: 'imageUri')}
                                </f:then>
                                <f:else>
                                    {f:uri.image(src: teaserConfig.defaultImageUid, width: width, height: height, cropVariant: name, maxWidth: width)
                                    -> f:variable(name: 'imageUri')}
                                </f:else>
                            </f:if>
                            <source data-variant="{name}" data-maxwidth="{width}" {f:if(condition: breakpoint, then: ' media="(min-width: {breakpoint}px)" ')}srcset="{imageUri}">
                        </f:for>
                        <f:if condition="{address.image}">
                            <f:then>
                                {f:uri.image(image: address.firstImage, cropVariant: 'small')
                                -> f:variable(name: 'imageUri')}
                            </f:then>
                            <f:else>
                                {f:uri.image(src: teaserConfig.defaultImageUid, cropVariant: 'small')
                                -> f:variable(name: 'imageUri')}
                            </f:else>
                        </f:if>
                        <img class="img-responsive img-fluid" loading="lazy" src="{imageUri}"
                             title="{address.firstImage.title}" alt="{address.firstImage.properties.alternative}">
                    </picture>
                </div>
            </div>
            <span class="ppc-show"></span>
        </div>
        <div class="pp-picoverlay-item pp-picoverlay-text">
            <div class="ppc-inner">
                <h5>{address.title} {address.firstName} {address.middleName} {address.lastName}</h5>
                <f:if condition="{address.position}">
                    <p class="position"><em>{address.position}</em></p>
                </f:if>

                <f:render section="address" partial="Address" arguments="{_all}"/>
                <f:render section="social" partial="Address" arguments="{_all}"/>

                <f:if condition="{settings.singlePid}">
                    <f:link.action action="show" arguments="{address : address}"
                                   title="{address.title} {address.firstName} {address.middleName} {address.lastName}"
                                   pageUid="{settings.singlePid}" class="btn btn-sm btn-primary">{f:translate(key:'more')}
                    </f:link.action>
                </f:if>
            </div>
            <span class="ppc-hide"></span>
        </div>
    </div>
</div>
<f:asset.script identifier="pp-picoverlay-info" src="EXT:pizpalue/Resources/Public/JavaScript/Dist/pizpalue.picoverlay.info.min.js" />

</html>
