<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers"
      data-namespace-typo3-fluid="true">

{f:variable(name: 'cvTeaserConfig', value: settings.pizpalue.teaser)}
{addresses -> pvh:iterator.random(count: settings.pizpalue.teaser.maxItemCount, as: 'cvRandomizer')}
<div class="pp-ttaddress-teaser">
    <f:for each="{cvRandomizer}" as="cvItem">
        <f:render partial="TeaserItem" arguments="{address: cvItem, teaserConfig: cvTeaserConfig}" />
    </f:for>
</div>

</html>
