<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      xmlns:pvh="http://typo3.org/ns/Buepro/Pvh/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="General" />

<f:section name="content">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news}">
		<f:then>
			<div class="news-list-view" id="news-container-{contentObjectData.uid}">
				<f:if condition="{settings.hidePagination}">
					<f:then>
                        <f:render section="ItemList" arguments="{newsItems: news, settings:settings, iterator:iterator}" />
					</f:then>
					<f:else>
                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <f:render section="ItemList" arguments="{newsItems: pagination.paginator.paginatedItems, settings:settings, iterator:iterator}" />
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                    </f:else>
				</f:if>
			</div>
		</f:then>
		<f:else>
			<div class="alert alert-{settings.alert}">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>

<f:section name="ItemList">
    {f:render(partial: 'List/GetPartialName', arguments: _all) -> pvh:format.trim() -> f:variable(name: '_partialName')}
    {f:variable(name: '_partialName', value: 'Item') -> f:if(condition: '{_partialName} == ""')}
    <ul class="list-group mb-3">
        <f:for each="{newsItems}" as="newsItem" iteration="iterator">
            <f:render partial="List/{_partialName}" arguments="{newsItem: newsItem, settings:settings, iterator:iterator}" />
        </f:for>
    </ul>
</f:section>
</html>
