<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="pp-fastmenu">
    <div class="pp-fm-content">
        <f:for each="{pizpalue.menu.fast.items}" as="item">
            <f:if condition="{item.contentUid}">
                <div id="pp-fm-content-{item.contentUid}" class="pp-fm-item"
                     data-pp-fm-contenticon="pp-fm-contenticon-{item.contentUid}">
                    <div class="pp-fm-wrap">
                        <f:cObject typoscriptObjectPath="lib.pizpalue.renderContent" data="{uid: item.contentUid}" />
                    </div>
                </div>
            </f:if>
        </f:for>
    </div>
    <div class="pp-fm-handle"><span class="ppicon ppicon-dropright"></span></div>
    <div class="pp-fm-icongroup">
        <f:for each="{pizpalue.menu.fast.items}" as="item">
            <div class="pp-fm-item">
                {f:variable(name:'justShowIcon', value:1)}
                <f:if condition="{item.pageUid}">
                    {f:variable(name:'justShowIcon', value:0)}
                    <f:link.typolink parameter="{item.pageUid}">
                        <span class="{item.iconClass} pp-fm-linkicon"></span>
                    </f:link.typolink>
                </f:if>
                <f:if condition="{item.contentUid}">
                    {f:variable(name:'justShowIcon', value:0)}
                    <button class="btn btn-link border border-0 p-0">
                        <span id="pp-fm-contenticon-{item.contentUid}" class="{item.iconClass} pp-fm-contenticon"
                              data-pp-fm-content="pp-fm-content-{item.contentUid}"
                              title="{f:cObject(typoscriptObjectPath: 'lib.pizpalue.renderContentTitle', data: '{uid:item.contentUid}')}"></span>
                    </button>
                </f:if>
                <f:if condition="{justShowIcon}">
                    <span class="{item.iconClass}"></span>
                </f:if>
            </div>
        </f:for>
    </div>
</div>
</html>
