<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div id="tab-{data.uid}" role="tabpanel" {f:if(condition:'{data.flexform_style}', then:'class="{data.flexform_style}"')}>
    <ul class="nav nav-tabs" role="tablist">
        <f:for each="{data.tx_gridelements_view_children}" as="content" iteration="iterator">
            <li role="presentation" {f:if(condition:'{iterator.index}==0',then:' class="active"')}>
                <a href="{f:uri.page(section:'tab-{content.uid}')}" aria-controls="tab-{content.uid}" role="tab" data-toggle="tab">
                    {content.header}
                </a>
            </li>
        </f:for>
    </ul>
    <div class="tab-content">
        <f:for each="{data.tx_gridelements_view_children}" as="content" iteration="iterator">
            <div role="tabpanel" class="tab-pane {f:if(condition:'{iterator.index}==0',then:'active')}" id="tab-{content.uid}">
                {data.tx_gridelements_view_child_{content.uid}->f:format.htmlentitiesDecode()}
            </div>
        </f:for>
    </div>
</div>
</html>