// --------------------------------------------------
// Classes used in appearance tab from content element
// --------------------------------------------------

//
// Background
// --------------------------------------------------
@each $tmp-value in (100, 200, 300, 400, 500, 600, 700, 800, 900) {
    .pp-bg-gray-#{$tmp-value} {
        background: var(--bs-gray-#{$tmp-value});
    }
}

//
// Gallery items
// --------------------------------------------------
div.pp-gallery-item-left {
    .gallery-item {
        text-align: left;
        figure {
            display: inline-block;
            width: auto;
            max-width: 100%;
        }
    }
}
div.pp-gallery-item-right {
    .gallery-item {
        text-align: right;
        figure {
            display: inline-block;
            width: auto;
            max-width: 100%;
        }
    }
}
.pp-gallery-item-join {
    --gallery-gap: 0px;
    .gallery-row {
        margin-bottom: 0;
    }
}
.pp-gallery-item-shadow {
    .gallery-item img {
        box-shadow: 5px 5px 15px 5px gray;
    }
}

//
// Image with overlay heading
// --------------------------------------------------
.pp-image-overlay {
    position: relative;
    header {
        position: absolute;
        width: calc(100% - #{$grid-gutter-width});
        left: calc(50% - #{$grid-gutter-width} / 2);
        top: calc(50% - #{$grid-gutter-width} / 2);
        transform: translate(-50%, -50%);
        z-index: 1;
        margin: $grid-gutter-width / 2;
        padding: $grid-gutter-width / 2;
        background: rgba($pp-headings-yiq, 0.7);
        > *:last-child {
            margin-bottom: 0;
        }
    }
    figure {
        margin-bottom: 0;
    }
}
@include media-breakpoint-up(md) {
    .pp-image-overlay {
        header {
            width: 70%;
        }
    }
}
@include media-breakpoint-up(xl) {
    .pp-image-overlay {
        header {
            width: auto;
        }
    }
}

//
// Panels
//
.pp-panel,
.pp-background-color {
    @include pp-make-frame-background();
}
@each $tmp-name, $tmp-settings in $frame-backgrounds {
    .pp-panel-#{$tmp-name},
    .pp-background-color-#{$tmp-name} {
        @include pp-set-frame-background-variables($tmp-settings);
    }
}

//
// Spaces
// --------------------------------------------------
.pp-margin {
    margin: var(--pp-frame-spacing);
}
.pp-padding {
    padding: var(--pp-frame-spacing);
}
.pp-margin-sm {
    margin: calc(0.5 * var(--pp-frame-spacing));
}
.pp-padding-sm {
    padding: calc(0.5 * var(--pp-frame-spacing));
}
.pp-space-before {
    margin-top: var(--frame-outer-spacing-before, 0);
}
.pp-space-after {
    margin-bottom: var(--frame-outer-spacing-after, 0);
}
@each $name, $scaling in $frame-outer-spacing-scaling {
    .pp-space-before-#{$name} {
        --frame-outer-spacing-before: var(--frame-outer-spacing-variant-#{$name});
    }
    .pp-space-after-#{$name} {
        --frame-outer-spacing-after: var(--frame-outer-spacing-variant-#{$name});
    }
}

//
// Various / Utility
// --------------------------------------------------
.pp-row-height {
    .frame-group-container, .frame-group-inner, .frame-container, .frame-inner {
        height: 100%;
    }
}
.pp-label-dataprotection {
    display: none;
}
.pp-below-header {
    @each $breakpoint in map-keys($navbar-heights) {
        @media (min-width: map-get($grid-breakpoints, $breakpoint)) {
            margin-top: -#{map-get($navbar-heights, $breakpoint)};
        }
    }
}
