//
// Footer Sections
// --------------------------------------------------
@each $name, $settings in $footer-sections {
    .footer-section-#{$name} {
        --pp-frame-headings-color: var(--frame-color);
        --frame-link-hover-color: #{map-get($settings, 'link-hover-color')};
        --frame-link-hover-decoration: #{map-get($settings, 'link-hover-decoration')};
    }
}

//
// Set colors (background is already set by bootstrap package)
// --------------------------------------------------
.footer-section {
    color: var(--frame-color);
    a:not(.btn) {
        color: var(--frame-link-color);
        &:hover {
            color: var(--frame-link-hover-color);
            text-decoration: var(--frame-link-hover-decoration);
        }
    }
}

//
// Reveal footer
// --------------------------------------------------
.pp-reveal-footer {
    > header, > div:not(#cookieconsent), > main, > nav {
        z-index: 10;
        position: relative;
    }
    > header {
        z-index: 12;
    }
    > #page-content {
        background-color: $body-bg;
    }
    > footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 8;
    }
}
