//
// Add frame spacing variable
// Remark: --frame-spacing is available in .frame, not root
// --------------------------------------------------
:root {
    --pp-frame-spacing: var(--frame-spacing-xs);
    $prevSpacing: var(--frame-spacing-xs);
    @each $breakpoint in map-keys(map-remove($grid-breakpoints, "xs")) {
        @include media-breakpoint-up($breakpoint) {
            --pp-frame-spacing: var(--frame-spacing-#{$breakpoint}, #{$prevSpacing});
        }
        $prevSpacing: var(--frame-spacing-#{$breakpoint});
    }
    --pp-frame-inner-spacing-before: var(--frame-spacing);
    --pp-frame-inner-spacing-after: var(--frame-spacing);
}

//
// Set elements, frame headings, links and inner spacing
// --------------------------------------------------
.frame {
    --pp-frame-inner-spacing-before: var(--frame-spacing);
    --pp-frame-inner-spacing-after: var(--frame-spacing);
    .table {
        --bs-table-bg: var(--frame-background);
        --bs-table-color: var(--frame-color);
        --bs-table-striped-color: var(--frame-color);
        --bs-table-active-color: var(--frame-color);
        --bs-table-hover-color: var(--frame-color);
    }
    &:not(.frame-type-subnavigation, .frame-layout-embedded) {
        @include pp-make-frame-background();
    }
    @each $tmp-variant, $tmp-scaling in $pp-frame-inner-spacing-variants {
        &.pp-inner-space-before-#{$tmp-variant} {
            --pp-frame-inner-spacing-before: calc(#{$tmp-scaling} * var(--frame-spacing));
        }
        &.pp-inner-space-after-#{$tmp-variant} {
            --pp-frame-inner-spacing-after: calc(#{$tmp-scaling} * var(--frame-spacing));
        }
    }
    padding-top: var(--pp-frame-inner-spacing-before);
    padding-bottom: var(--pp-frame-inner-spacing-after);
}
@each $name, $settings in $frame-backgrounds {
    .frame-background-#{$name} {
        @include pp-set-frame-background-variables($settings);
    }
}

//
// Reset .frame-none
// --------------------------------------------------
.frame.frame-none {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: $body-color;
    background: $body-bg;
}

//
// Frame layout
// --------------------------------------------------
.frame-layout-embedded {
    background: transparent;
}

//
// Various
// --------------------------------------------------
.pp-frame-collapsible {
    margin-top: calc(-1 * var(--frame-spacing, var(--pp-frame-spacing)));
}
.pp-frameless-content {
    &, > .frame-backgroundimage-container ~ * {
        position: relative;
    }
}
