:root {
    //
    // Font
    // --------------------------------------------------
    --pp-headings-font-family: #{inspect($font-family-base)};
    @if ($headings-font-family) {
        --pp-headings-font-family: #{inspect($headings-font-family)};
    }

    //
    // Navbar
    // --------------------------------------------------
    --pp-navbar-dark-bg: #{$navbar-dark-bg};
    --pp-navbar-dark-bg-rgb: #{to-rgb($navbar-dark-bg)};
    --pp-navbar-light-bg: #{$navbar-light-bg};
    --pp-navbar-light-bg-rgb: #{to-rgb($navbar-light-bg)};
    --pp-navbar-bg-opacity: #{$pp-navbar-bg-opacity};

    //
    // Set frame border-radius, headings and links
    // @see pp-make-frame-background, pp-set-frame-background-variables
    // --------------------------------------------------
    --frame-embedded-border-radius: 0;
    @if ($enable-rounded) {
        --frame-embedded-border-radius: #{$frame-embedded-border-radius};
    }
    @if $headings-color and $headings-color != inherit {
        --pp-frame-headings-color: #{$headings-color};
    } @else {
        --pp-frame-headings-color: currentColor;
    }
    --pp-frame-link-decoration: null;
    --pp-frame-link-decoration-style: null;
    --pp-frame-link-weight: null;

    //
    // Contrast colors
    //
    @each $_color-name in map-keys($pp-colors) {
        $_color: map-get($pp-colors, $_color-name);
        --pp-#{$_color-name}-contrast: #{color-contrast($_color)};
        --pp-#{$_color-name}-contrast-rgb: #{to-rgb(color-contrast($_color))};
    }

}
