// --------------------------------------------------
// gridelements, flux_elements, container_elements
// --------------------------------------------------

//
// Container
// --------------------------------------------------
.pp-container, .fe-container, .ce-container {
    .frame-container {
        max-width: none;
    }
}
.frame-type-pp_container, .frame-type-fe_container, .frame-type-ce_container {
    &.frame-background-primary, &.frame-background-secondary, &.frame-background-complementary {
        > div > div > div > .frame:first-child {
            padding-top: 0;
        }
        > div > div > div > .frame:last-child {
            padding-bottom: 0;
        }
    }
}

//
// Columns
// --------------------------------------------------

// Content element with background
.row > div > .frame:not(.frame-background-none) {
    padding-left: var(--pp-frame-spacing);
    padding-right: var(--pp-frame-spacing);
}

// Ensure spacing is correct when columns are serialized (two visually subsequent content elements just have one
// padding). Assumes that all content elements in columns have a frame without spacing before.
.pp-col-collapse, .fe-col-collapse, .ce-col-collapse {
    > .frame.frame-background-none.frame-space-before-none:not(.frame-has-backgroundimage):first-child {
        @extend .pp-frame-collapsible;
    }
}

// Compensate bottom space
:not(.none) {
    .pp-row-collapse, .fe-row-collapse, .ce-row-collapse {
        margin-bottom: calc(-1 * var(--frame-spacing, var(--pp-frame-spacing)));
    }
}

// If columns are realized within a frame
.frame-inner {

    // No side padding for content elements in columns
    .col > .frame.frame-background-none > .frame-group-container > .frame-group-inner > .frame-container {
        padding-left: 0;
        padding-right: 0;
    }

}

//
// Accordion
// --------------------------------------------------
.pp-accordion-body, .fe-accordion-body, .ce-accordion-body {

    // No top space for first element in accordion body
    > .frame:first-child {
        padding-top: 0;
    }

    // No bottom space for last element in accordion body
    > .frame:last-child {
        padding-bottom: 0;
    }
}
.accordion {
    .accordion-button {
        background: rgba(0, 0, 0, 0.03);
        color: $body-color;
    }
}

//
// Tabs
// --------------------------------------------------
.tab-content {
    padding: (1.5 * $nav-link-padding-x) 0;
    padding-bottom: 0.5rem;
}
.pp-tab-pane, .fe-tab-pane, .ce-tab-pane {

    // No top space for first element in tab pane
    > .frame:first-child {
        padding-top: 0;
    }

    // No bottom space for last element in tab pane
    > .frame:last-child {
        padding-bottom: 0;
    }
}

//
// Cards
// --------------------------------------------------
.fe-card, .pp-card, .ce-card {
    .card-header, .card-footer {
        *:last-child {
            margin-bottom: 0;
        }
    }
    img {
        height: auto;
    }
    .fec-image-wrap, .ppc-image-wrap, .cec-image-wrap {
        .gallery-row {
            margin: 0;
        }
        .gallery-item {
            padding: 0;
        }
        figure {
            margin: 0;
        }
    }
    .fec-image-col img, .ppc-image-col, .cec-image-col {
        height: auto;
    }
    .fec-content-col, .ppc-content-col, .cec-content-col {
        display: flex;
        align-items: center;
    }
}
