@keyframes slideBackground {
  0% {
    transform:scale3d(1, 1, 1)
  }
  50% {
    filter:blur(0px)
  }
  100% {
    transform:scale3d(1.1, 1.1, -1.1);
    filter:blur(0px);
    opacity:0.6
  }
}

@keyframes slideTxt {
  0% {
    opacity:0
  }
  40% {
    opacity:0
  }
  80% {
    opacity:1
  }
  100% {
    opacity:1
  }
}

.pp-animate.ppc-background-zoom {
  display: flex;
  align-items: center;
}

.pp-animate.ppc-background-zoom .frame-backgroundimage {
  opacity:1;
  filter:blur(0px);
  transform:scale3d(1, 1, 1);
  animation:slideBackground 4s ease-out forwards;
}

.pp-animate.ppc-text-delay .frame-container {
  animation:slideTxt 4s linear forwards
}

