.pp-fastmenu {
  position: fixed;
  z-index: 10;
  top: 40%;
  transform:translateY(-50%);
  right: 0;
  display: flex;
  align-items: center;
  transition: right 0.7s;

  .pp-fm-icongroup .ppicon {
    font-size: 50px;
    background: lightgrey;
    margin: 3px 0 3px 3px;
    padding: 5px;
    cursor: pointer;
  }

  .pp-fm-handle {
    font-size: 30px;
    color: gray;
    cursor: pointer;
    .ppicon {
      transition: transform 0.7s;
    }
  }
  &.pp-minimize {
    right: -55px;
    .pp-fm-handle .ppicon {
      transform: rotate(180deg);
    }
  }
  .pp-fm-content {
    position: relative;
    max-width: 400px;
    border: lightgrey 1px solid;
    margin-right: 20px;
    .pp-fm-item {
      position: relative;
      right: -500px;
      display: none;
      background: white;
      transition: right 0.7s;
      &.pp-show {
        right: 0;
        display: block;
      }
    }
  }
}
