<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pp="http://typo3.org/ns/buepro/pizpalue/ViewHelpers">

<div class="vcard tt_address_detail" itemscope itemtype="http://schema.org/Person">
    <h4 itemprop="name">{address.fullName}</h4>
    <f:render section="position" partial="Address" arguments="{_all}"/>
    <f:if condition="{address.image}">
        <f:then>
            <div class="row">
                <pp:render.bootstrap.column class="col-md-3" count="2" additionalAttributes="{itemprop: 'image'}">
                    <f:render partial="Plugin/RenderMedia" arguments="{
                                file: address.firstImage.originalResource,
                                data: address,
                                settings: settings}" />
                </pp:render.bootstrap.column>
                <pp:render.bootstrap.column class="col-md-9" count="2">
                    <f:render section="content" arguments="{_all}"/>
                </pp:render.bootstrap.column>
            </div>
        </f:then>
        <f:else>
            <f:render section="content" arguments="{_all}"/>
        </f:else>
    </f:if>
</div>

<f:section name="content">
    <f:if condition="{address.description}">
        <div class="description" itemprop="description">
            {address.description -> f:format.html()}
        </div>
    </f:if>

    <f:render section="address" partial="Address" arguments="{_all}"/>

    <f:if condition="{address.building} || {address.room}">
        <ul class="list-inline">
            <f:if condition="{address.building}">
                <li class="list-inline-item">
                    {f:translate(key:'label.building')}: {address.building}
                </li>
            </f:if>

            <f:if condition="{address.room}">
                <li class="list-inline-item">
                    {f:translate(key:'label.room')}: {address.room}
                </li>
            </f:if>
        </ul>
    </f:if>

    <f:render section="contact" partial="Address" arguments="{_all}"/>
    <f:render section="social" partial="Address" arguments="{_all}"/>

    <f:if condition="{address.image -> f:count()} > 1">
        <div class="address-image-rows">
            <div class="row">
                <pp:structure.wrap.column class="col-md-4" count="3">
                    <f:for each="{address.image}" as="img" iteration="iterator">
                        <f:if condition="{iterator.cycle}>1">
                            <div class="col-md-4" itemprop="image">
                                <f:render partial="Plugin/RenderMedia" arguments="{
                                    file: img.originalResource,
                                    data: address,
                                    settings: settings}" />
                            </div>
                        </f:if>
                    </f:for>
                </pp:structure.wrap.column>
            </div>
        </div>
    </f:if>
</f:section>

</html>
