/********************************/
/* Internal classes             */
/********************************/

/* margin */
.pp-notopmargin {
  margin-top: 0;
}
.pp-novertmargin {
  margin-top: 0;
  margin-bottom: 0;
}
.pp-topspace {
  margin-top: 0.5em;
}
.pp-rightspace {
  margin-right: 0.5em;
}
/********************************/
/* Public classes               */
/********************************/

//
// external: micro clearfix hack
//
.pp-cf:before,
.pp-cf:after {
  content: " ";
  display: table;
}
.pp-cf:after, .clear {
  clear: both;
}
//
// CE background, spacing
//
.pp-ce-background {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.pp-ce-bgfixed {
  background-attachment: fixed;
  @media (hover: none) {
    & {
      background-attachment: initial;
    }
  }
}
.pp-ce-margin {
  @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
      margin: ($frame-inner-spacing * $scaling);
    }
  }
}
.pp-ce-padding {
  @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
    @include media-breakpoint-up($breakpoint) {
      $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
      padding: ($frame-inner-spacing * $scaling);
    }
  }
}
.pp-ce-bgwhite70 {
  background-color: rgba(white, 0.7);
}
.pp-ce-bggrey70 {
  background-color: rgba(gray, 0.7);
}
.pp-ce-bgblack70 {
  background-color: rgba(black, 0.7);
}
//
// Gallery items
//
.pp-gallery-item-left {
  .gallery-item {
    text-align: left;
  }
}
.pp-gallery-item-right {
  .gallery-item {
    text-align: left;
  }
}
.pp-gallery-item-join {
  .gallery-item {
    margin: 0;
    padding: 0;
    figure {
      margin-bottom: auto;
    }
  }
}
//
// Various
//
.pp-label-dataprotection {
  display: none;
}
