/********************************/
/* Internal classes             */
/********************************/

/* margin */
.pp-notopmargin {
  margin-top: 0;
}
.pp-novertmargin {
  margin-top: 0;
  margin-bottom: 0;
}
.pp-topspace {
  margin-top: 0.5em;
}
.pp-rightspace {
  margin-right: 0.5em;
}
