//
// Frame Header
//
.frame-header {
  *:last-child {
    margin-bottom: 1.5*$spacer;
  }
}

//
// Pictures
//
figure {
  margin-bottom: 1.7em;
}
.frame-type-textpic, .frame-type-image {
  .gallery-item {
    text-align: center;
  }
  figure {
    display: inline-block;
    text-align: left;
  }
}

//
// Text and image
//
.textmedia-below .textmedia-text,
.textpic-below .textmedia-text,
.textmedia-below .textpic-text,
.textpic-below .textpic-text {
  margin-bottom: 1.5rem;
}

