//
// Pictures
//
figure {
    margin-bottom: 1.7em;
}
.frame-type-textpic, .frame-type-image {
    .gallery-item {
        text-align: center;
    }
    figure {
        display: inline-block;
        text-align: left;
    }
}

//
// Frames
//
.frame-pp1, .frame-pp2, .frame-pp3 {
    border: $border-width solid;
    border-radius: $border-radius;
    padding: $alert-padding-y 0;
}
.container {
    .frame-pp1, .frame-pp2, .frame-pp3 {
        padding: $alert-padding-y $alert-padding-y;
    }
}
.frame-pp1 {
    @include ppFrameBackground($primary);
}
.frame-pp2 {
    @include ppFrameBackground($secondary);
}
.frame-pp3 {
    @include ppFrameBackground($complementary);
}

