//
// Nested frame container
//
.container-fluid .frame-container,
.frame-container .frame-container {
  padding-left: 0;
  padding-right: 0;
}
//
// Full width container
//
.container-fluid .frame-container,
.pp-container .frame-container {
  max-width: none;
}
//
// Custom frames
//
.frame-pp1 > div,
.frame-pp2 > div,
.frame-pp3 > div {
  > .frame-inner {
    border: $border-width solid;
    border-radius: $border-radius;
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding: ($alert-padding-y * $scaling) ($alert-padding-x * $scaling);
      }
    }
  }
}
.frame-pp1 > div > .frame-inner {
  @include pp-make-frame-bg($primary);
}
.frame-pp2 > div > .frame-inner {
  @include pp-make-frame-bg($secondary);
}
.frame-pp3 > div > .frame-inner {
  @include pp-make-frame-bg($complementary);
}
.pp-row-height {
  &.frame-pp1, &.frame-pp2, &.frame-pp3 {
    > div, > div > .frame-inner {
      height: 100%;
    }
  }
}

.frame-background-primary, .frame-background-secondary, .frame-background-complementary {
  a {
    text-decoration: underline dotted;
    &:hover {
      text-decoration: underline;
    }
  }
}
