//
// Content element with background
//
.frame-type-gridelements_pi1 {
  .frame:not(.frame-background-none) {
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        padding-left: ($frame-inner-spacing * $scaling);
        padding-right: ($frame-inner-spacing * $scaling);
      }
    }
  }
}

//
// Columns
//
//---
//
// If columns are realized within a frame
//
.frame-type-gridelements_pi1 {
  // No side padding for content elements in columns
  .pp-col > .frame.frame-background-none > .frame-container {
    padding-left: 0;
    padding-right: 0;
  }
  //
  // Ensure spacing is correct when columns are serialized (two visually subsequent content elements just have one
  // padding). Assumes that all content elements in columns have a frame without spacing before.
  //
  .pp-col.pp-col-collapse > .frame.frame-background-none.frame-space-before-none:not(.frame-has-backgroundimage):first-child {
    @extend .frame-collapsible;
  }
  // Compensate bottom space
  > .frame-container > .frame-inner > .row.pp-row-collapse {
    @each $breakpoint in map-keys($frame-inner-spacing-scaling) {
      @include media-breakpoint-up($breakpoint) {
        $scaling: map-get($frame-inner-spacing-scaling, $breakpoint);
        margin-bottom: -($frame-inner-spacing * $scaling);
      }
    }
  }
}

//
// Tabs
//
.frame-type-gridelements_pi1 {
  // No top space for first element in tab pane
  .tab-pane > .frame:first-child {
    padding-top: 0 ;
  }
  // No bottom space for last element in tab pane
  .tab-pane > .frame:last-child {
    padding-bottom: 0 ;
  }
}

//
// Accordion
//
.frame-type-gridelements_pi1 {
  // No top space for first element in accordion body
  .accordion-body > .frame:first-child {
    padding-top: 0 ;
  }
  // No bottom space for last element in accordion body
  .accordion-body > .frame:first-child {
    padding-bottom: 0 ;
  }
}