.scroll-top {
  background: fade(black, 30%);
  border: fade(white, 30%) 1px solid;
  border-radius: 5px;
  right: 10px;
  bottom: 10px;
  width: 2.5em;
  height: 2.5em;
}
img.pp-nolazyload {
  opacity: 1 !important;
  transition: all 0s ease 0s !important;
}
//
// Reveal footer
//
.pp-reveal-footer {
  > header, > div:not(#cookieconsent), > nav {
    z-index: 10;
    position: relative;
  }
  > header {
    z-index: 12;
  }
  > div {
    background-color: $body-bg;
  }
  > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 8;
  }
}
//
// Scroll target
//
@keyframes flashonce-primary {
  0% {box-shadow: none;}
  50% {box-shadow: 0 0 0 5px $body-bg, 0 0 5px 5px $primary;}
  100% {box-shadow: none;}
}
.scrolltarget {
  animation: flashonce-primary 1s ease-in-out 1;
}