$pp-ttaddress-teaser-item-width: (
  sm: $pp-ttaddress-teaser-relwidth-sm,
  md: $pp-ttaddress-teaser-relwidth-md,
  lg: $pp-ttaddress-teaser-relwidth-lg,
  xl: $pp-ttaddress-teaser-relwidth-xl
) !default;
$pp-ttaddress-teaser-item-count: (
  xs: $pp-ttaddress-teaser-count-xs,
  sm: $pp-ttaddress-teaser-count-sm,
  md: $pp-ttaddress-teaser-count-md,
  lg: $pp-ttaddress-teaser-count-lg,
  xl: $pp-ttaddress-teaser-count-xl
) !default;