@mixin pp-style-accordion($color) {
  .card {
    background-color: mix(white, $color, 90%);
    border: mix(white, $color, 40%);
  }
  .card-header {
    background-color: mix(white, $color, 20%);
    color: color-yiq(mix(white, $color, 20%));
    border-bottom: mix(white, $color, 40%);
  }
}
@mixin pp-style-accordion-light($color) {
  .accordion-title-link {
    border-left: $color 4px solid;
    &.collapsed {
      border-left-color: transparent;
    }
  }
  .accordion-title-link-text, .accordion-title-link-state {
    color: $body-color;
  }
  .accordion-title-link-state {
    font-weight: bold;
  }
  .accordion-collapse {
    border-left: mix(white, $color, 30%) 4px dotted;
    &.show {
      border-left-style: solid;
    }
  }
}
