@mixin pp-style-accordion($color) {
  .card {
    background-color: pp-tint($color, 90%);
    border: pp-tint($color, 40%);
  }
  .card-header {
    background-color: pp-tint($color, 20%);
    color: pp-contrast(pp-tint($color, 20%));
    border-bottom: pp-tint($color, 40%);
  }
}
@mixin pp-style-accordion-light($color) {
  .accordion-title-link {
    border-left: $color 4px solid;
    &.collapsed {
      border-left-color: transparent;
    }
  }
  .accordion-title-link-text, .accordion-title-link-state {
    color: $body-color;
  }
  .accordion-title-link-state {
    font-weight: bold;
  }
  .accordion-collapse {
    border-left: pp-tint($color, 30%) 4px dotted;
    &.show {
      border-left-style: solid;
    }
  }
}
