@mixin pp-make-card($name, $settings) {
  $background: map-get($settings, 'background');
  $color: color-yiq($background);
  .pp-card-#{$name}:not(.frame), .pp-card-#{$name}.frame .frame-inner > div {
    color: $color;
    background-color: $background;
    @include pp-make-link($settings);
  }
}
