@mixin pp-style-tab($color) {
  $ppTabActiveTabBg: pp-tint($color, 60%);
  $ppTabInactiveTabBg: pp-tint($color, 20%);
  $ppTabContentBg: pp-tint($color, 90%);
  $ppTabBorderColor: pp-tint($color, 70%);
  .nav-tabs {
    border-bottom-color: $ppTabBorderColor;
    a.nav-link {
      background: $ppTabInactiveTabBg;
      color: pp-contrast($ppTabInactiveTabBg);
    }
    .nav-link {
      &.active, &:hover {
        border-color: $ppTabBorderColor $ppTabBorderColor pp-tint($color, 60%);
        background: $ppTabActiveTabBg;
        color: pp-contrast($ppTabActiveTabBg);
      }
    }
  }
  .tab-content {
    border: $ppTabBorderColor $nav-tabs-border-width solid;
    border-top: 0;
    background: $ppTabContentBg;
    padding-left: $nav-link-padding-x;
    padding-right: $nav-link-padding-x;
  }
}
@mixin pp-style-tab-light($color) {
  .nav-link {
    padding-top: 1.4 * $nav-link-padding-y;
    @if (lightness($color) < 40) {
      color: $color;
      &:hover {
        color: pp-shade($color, 30%);
      }
    } @else {
      &, &:hover {
        color: $body-color;
      }
    }

    &.active {
      box-shadow: inset 0 (0.4 * $nav-link-padding-y) 0 0 $color;
      &:hover {
        color: $nav-tabs-link-active-color;
      }
    }
  }
}
